{% load static %}
<h2>Billing List</h2>
<table border="1">
  {% for bill in billings %}
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Total</th>
    <th>Receipt</th>
  </tr>
  <tr>
    <td style="padding: 0px 20px">{{ bill.first_name }} {{ bill.last_name }}</td>
    <td  style="padding: 0px 20px">{{ bill.phone }}</td>
    <td  style="padding: 0px 20px">{{ bill.email }}</td>
    <td  style="padding: 0px 20px">{{ bill.address }}</td>
    <td style="padding: 0px 20px" >$ {{ bill.total }}</td>

    <td>
      {% if bill.qr_code_image %}
      <img
        src="{{ bill.qr_code_image.url }}"
        width="150"
        alt="Receipt QR Code"
      />
      {% else %}
      <p>No QR Code</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<br>
<a style="padding: 13px 20px;color: white; background-color: rgb(34, 52, 168); text-decoration: none; border-radius: 5px;" href="{% url 'indexFur' %}">Back to home</a>
