{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'furniture/Head.html' %}

<body>

{% include 'furniture/SecTop.html' %}

{% include 'furniture/Header.html' %}

<section id="blog_pg" class="p_3 px-4">
<div class="container-fluid">
 <div class="blog_pg1 row">
  <div class="col-md-8">
  <div class="blog_pg1l">
    
    {# --- START DYNAMIC BLOG POST LOOP --- #}
    {% for post in posts %}
    <div class="blog_pg1li row">
     <div class="col-md-6">
      <div class="blog_pg1lil">
      <div class="grid clearfix">
         <figure class="effect-jazz mb-0">
          <a href="{% url 'blog_detail' post.id %}"><img src="{{ post.image.url }}" class="w-100" alt="{{ post.title }}"></a>
         </figure>
       </div>
      </div> 
     </div>
     <div class="col-md-6">
      <div class="blog_pg1lir">
       <h6 class="font_14 text-muted">
        <i class="fa fa-user col_yell me-1"></i> By {{ post.author }}
        <i class="fa fa-comments col_yell me-1 ms-2"></i> {{ post.comment_count }} Comments
       </h6>
        <h4 class="mt-3"><a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></h4>
        <p>{{ post.summary }}</p>
        <h6 class="mb-0 mt-4"><a class="button_1" href="{% url 'blog_detail' post.id %}">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>  
      </div>
     </div>
    </div>
    {# Add <hr> only if it's not the last item in the list #}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {# --- END DYNAMIC BLOG POST LOOP --- #}

	<br>
	<br>
    {# --- PAGINATION (Needs Django Paginator in views.py) --- #}
    {% if posts.has_other_pages %}
     <div class="pages text-center">
      <ul class="mb-0">
        {% if posts.has_previous %}
         <li><a href="?page={{ posts.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
        {% endif %}
        
        {% for i in posts.paginator.page_range %}
          <li class="{% if posts.number == i %}act{% endif %}"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}

        {% if posts.has_next %}
         <li><a href="?page={{ posts.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
       </ul>
     </div>
    {% endif %}
    {# --- END PAGINATION --- #}

  </div>
  </div>

  {# --- START SIDEBAR --- #}
  <div class="col-md-4">
  <div class="blog_pg1r">
    
    {# Search remains static (requires JavaScript/form handling to be dynamic) #}
    <form method="GET" action="{% url 'blog' %}">
  <div class="input-group border_1 p-2 rounded-3">
    <input type="text" name="q" class="form-control border-0"
           placeholder="Search Here" value="{{ query }}">
    <button class="btn bg-transparent border-0 col_yell" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>

    {# Dynamic Recent Posts (Context variable: 'recent_posts') #}
    <div class="blog_pg1r1 mt-4">
    <h5>Recent Posts</h5>
    <hr class="line mb-4">
    {% for post in recent_posts %}
     <div class="row blog_pg1r1i">
      <div class="col-md-4 col-4 pe-0">
       <div class="blog_pg1r1il">
        <figure class="effect-jazz mb-0">
          <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" class="w-100" alt="{{ post.title }}"></a>
         </figure>
       </div>
      </div>
      <div class="col-md-8 col-8">
       <div class="blog_pg1r1ir">
       <h6 class="fw-bold"><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:50 }}</a></h6>
       <h6 class="text-muted mb-0">{{ post.published_date|date:"F j, Y" }}</h6>
       </div>
      </div>
     </div>{% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    </div>
    
    {# The Contact Us / Ad section remains static #}
    <div class="blog_pg1r1 mt-4 bg_dark text-center p-4">
    <h4><a class="text-white text-uppercase" href="blog_detail.html"><i class="fa fa-home col_yell"></i> Furniture</a></h4>
    <h4 class="mt-4 text-white">Contact Us Daily</h4>
    <h2 class="text-white">+(123) 456-7890</h2>
  
    </div>

    {# Dynamic Gallery (Context variable: 'gallery_images') #}
    <div class="blog_pg1r1 mt-4">
    <h5>Gallery</h5>
    <hr class="line mb-4">
    <div class="blog_pg1r1i row px-2">
     {% for post in gallery_images %}
      <div class="col-md-4 px-1 col-4">
      <div class="blog_pg1r1il">
       <div class="grid clearfix">
         <figure class="effect-jazz mb-0">
          <a href="{% url 'blog_detail' post.id %}"><img src="{{ post.image.url }}" class="w-100" alt="{{ post.title }}"></a>
         </figure>
       </div>
      </div>
      </div>
     {% endfor %}
    </div>
    </div>

    {# Dynamic Tags (Requires a Tag model or logic to split tags from a field) #}
    <div class="blog_pg1r1 mt-4">
    <h5>Tags</h5>
    <hr class="line mb-4">
    <ul class="mb-0">
      {% for tag in tags %}
       <li class="d-inline-block"><a href="{% url 'blog_tag_detail' tag.slug %}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
    </div>
  </div>
  </div>
  {# --- END SIDEBAR --- #}

 </div>
</div>
</section>

{% include 'furniture/Chatsec.html' %}

{% include 'furniture/Footer.html' %}

{% include 'furniture/script.html' %}

</body>

</html>

