{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'furniture/Head.html' %}

<body>

{% include 'furniture/SecTop.html' %}
{% include 'furniture/Header.html' %}

<!-- Page Header -->
<section id="center" class="center_blog_dt">
 <div class="promo_m center_om">
  <div class="container-fluid">
    <div class="center_o1 row text-center">
     <div class="col-md-12">
       <h6 class="col_yell fw-bold">
         <a class="text-white" href="{% url 'home' %}">HOME PAGE</a>
         <span class="mx-2 text-muted">/</span> BLOG DETAIL
       </h6>
       <h1 class="mb-0 font_60 text-white mt-3">{{ post.title }}</h1>
     </div>
    </div>
 </div>
 </div>
</section>

<section id="blog_pg" class="p_3 px-4">
 <div class="container-fluid">
   <div class="blog_pg1 row">
     <!-- Main Content -->
    <div class="col-md-8">
      <div class="blog_pgdt">
        <div class="blog_pgdt">
    {% if post.image %}
    <div class="grid clearfix">
     <figure class="effect-jazz mb-0">
      <img src="{{ post.image.url }}" class="w-100" alt="{{ post.title }}">
     </figure>
    </div>
    {% endif %}
        <h1 class="mt-3">{{ post.title }}</h1>
        <h6 class="font_14 mt-3 text-muted">
          <i class="fa fa-user col_yell me-1"></i> By {{ post.author.username }}
          <i class="fa fa-comments col_yell me-1 ms-2"></i> {{ post.comments.count }} Comments
          <i class="fa fa-calendar col_yell me-1 ms-2"></i> {{ post.published_date|date:"d M Y" }}
        </h6>

        <div class="mt-3">
          {{ post.content|safe }}
        </div>

        <!-- Related Tags -->
        {% if post.tags.all %}
        <h3 class="mt-4 center_sm">Tags</h3>
        <div class="blog_pg1r1 mt-3">
          <ul class="mb-0">
            {% for tag in post.tags.all %}
              <li class="d-inline-block">
                <a href="{% url 'blogTag' slug=tag.slug %}">{{ tag.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <!-- Related Posts -->
        {% if related_posts %}
        <h3 class="mt-4 center_sm">Related Blogs</h3>
        <div class="row blog_1 mt-3">
          {% for related in related_posts %}
          <div class="col-md-6">
            <div class="blog_1m">
              <div class="grid clearfix">
              <div class="grid clearfix">
        {% if related.image %}
        <figure class="effect-jazz mb-0">
         <a href="{% url 'blog_detail' id=related.id %}">
          <img src="{{ related.image.url }}" class="w-100" alt="{{ related.title }}">
         </a>
        </figure>
        {% endif %}
       </div>
              </div>
              <h6 class="font_14 text-muted mt-3">
                <i class="fa fa-user col_yell me-1"></i> By {{ related.author.username }}
                <i class="fa fa-comments col_yell me-1 ms-2"></i> {{ related.comments.count }} Comments
              </h6>
              <h4 class="mt-3">
                <a href="{% url 'blog_detail' id=related.id %}">{{ related.title }}</a>
              </h4>
              <p>{{ related.excerpt }}</p>
              <h6 class="mb-0 fw-bold font_14">
                <a class="col_yell" href="{% url 'blog_detail' id=related.id %}">
                  READ MORE <i class="fa fa-long-arrow-right ms-1"></i>
                </a>
              </h6>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
      <div class="blog_pg1r">
        <!-- Search -->
        <div class="blog_pg1r1">
          <h5>Search Blog</h5>
          <hr class="line mb-4">
          <form method="get" action="{% url 'blog' %}">
            <div class="input-group border_1 p-2 rounded-3">
              <input type="text" name="q" class="form-control border-0" placeholder="Search Here" value="{{ request.GET.q }}">
              <button class="btn btn-primary bg-transparent rounded-0 border-0 col_yell" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

        <!-- Categories -->
        <div class="blog_pg1r1 mt-4">
          <h5>Categories</h5>
          <hr class="line mb-4">
          {% for category, data in categories_with_count.items %}
            <h6 class="mb-0">
              <a href="{% url 'blogCategory' slug=data.slug %}">{{ category }} <span class="pull-right">({{ data.count }})</span></a>
            </h6>
            <hr>
          {% endfor %}
        </div>

        <!-- Recent Posts -->
        <div class="blog_pg1r1 mt-4">
          <h5>Recent Posts</h5>
          <hr class="line mb-4">
          {% for recent in recent_posts %}
          <div class="row blog_pg1r1i">
            <div class="col-md-4 col-4 pe-0">
             <div class="col-md-4 col-4 pe-0">
       {% if recent.image %}
       <div class="blog_pg1r1il">
        <figure class="effect-jazz mb-0">
         <a href="{% url 'blog_detail' id=recent.id %}">
          <img src="{{ recent.image.url }}" class="w-100" alt="{{ recent.title }}">
         </a>
        </figure>
       </div>
       {% endif %}
      </div>
            </div>
            <div class="col-md-8 col-8">
              <div class="blog_pg1r1ir">
                <h6 class="fw-bold"><a href="{% url 'blog_detail' id=recent.id %}">{{ recent.title }}</a></h6>
                <h6 class="text-muted mb-0">{{ recent.published_date|date:"d M, Y" }}</h6>
              </div>
            </div>
          </div>
          <hr>
          {% endfor %}
        </div>

        <!-- Tags -->
        <div class="blog_pg1r1 mt-4">
          <h5>Tags</h5>
          <hr class="line mb-4">
          <ul class="mb-0">
            {% for tag in tags %}
              <li class="d-inline-block">
                <a href="{% url 'blogTag' slug=tag.slug %}">{{ tag.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
   </div>
 </div>
</section>

{% include 'furniture/Footer.html' %}
{% include 'furniture/script.html' %}

</body>
</html>
