{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'furniture/Head.html' %}

  <body>
    {% include 'furniture/SecTop.html' %} {% include 'furniture/Header.html' %}

    <section href="{% url 'billing_add' %}" class="center_check">
      <div class="promo_m center_om">
        <div class="container-fluid">
          <div class="center_o1 row text-center">
            <div class="col-md-12">
              <h6 class="col_yell fw-bold">
                <a class="text-white" href="#">HOME PAGE</a>
                <span class="mx-2 text-muted">/</span> CHECKOUT
              </h6>
              <h1 class="mb-0 font_60 text-white mt-3">Checkout</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="checkout" class="p_3">
      <div class="container-xl">
        <div class="checkout_1 row">
          <div class="col-md-8">
            <div class="checkout_1l">
              <h5>Make Your Checkout Here</h5>
              <p>Please register in order to checkout more quickly</p>
            </div>
            <form method="POST" action="{% url 'billing_add' %}">
              {% csrf_token %}
              <div class="checkout_1l1 row">
                <div class="col-md-6 ps-0">
                  <h6>First Name <span>*</span></h6>
                  <input type="text" name="first_name" required />
                </div>

                <div class="col-md-6 ps-0">
                  <h6>Last Name <span>*</span></h6>
                  <input type="text" name="last_name" required />
                </div>
              </div>

              <div class="checkout_1l1 row">
                <div class="col-md-6 ps-0">
                  <h6>Email <span>*</span></h6>
                  <input type="email" name="email" required />
                </div>

                <div class="col-md-6 ps-0">
                  <h6>Phone <span>*</span></h6>
                  <input type="text" name="phone" required />
                </div>
              </div>

              <div class="checkout_1l1 row">
                <div class="col-md-6 ps-0">
                  <h6>Country <span>*</span></h6>
                  <input type="text" name="country" required />
                </div>

                <div class="col-md-6 ps-0">
                  <h6>State / Division <span>*</span></h6>
                  <input type="text" name="town" required />
                </div>
              </div>

              <div class="checkout_1l1 row">
                <div class="col-md-6 ps-0">
                  <h6>Address <span>*</span></h6>
                  <input type="text" name="address" required />
                </div>
                <div class="col-md-6 ps-0">
                  <h6>Postal Code <span>*</span></h6>
                  <input type="text" name="postcode" required />
                </div>
              </div>

              <!-- TOTAL -->
              <input type="hidden" name="total" value="{{ total }}" />

              <!-- SUBMIT BUTTON -->
              <button
                type="submit"
                class="button_2 d-block text-center w-100 mt-3"
              >
                CHECKOUT
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include 'furniture/Chatsec.html' %} {% include 'furniture/Footer.html' %}
    {% include 'furniture/script.html' %}
  </body>
</html>
