{% load static %}
<section id="top" class="bg_dark  px-3">
 <div class="container-fluid">
  <div class="row top_1">
   <div class="col-md-2 col-lg-3">
    <div class="top_1l pt-3">
	 
	</div>
   </div>
   <div class="col-md-10 col-lg-9">
    <div class="top_1r text-end">
	   <ul class="mb-0 font_14"> 
	  <li class="d-inline-block col_light"><i class="fa fa-envelope-o me-1 col_yell"></i> Email:  info@gmail.com</li>
	  <li class="d-inline-block mx-3 col_light"><i class="fa fa-phone me-1 col_yell"></i> Call us: +(123) 456-7890</li>
	 </ul>
	</div>
   </div>
  </div>
 </div>
</section>