{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'furniture/Head.html' %}

  <body>
    {% include 'furniture/SecTop.html' %} {% include 'furniture/Header.html' %}

    <section id="center" class="center_team">
      <div class="promo_m center_om">
        <div class="container-fluid">
          <div class="center_o1 row text-center">
            <div class="col-md-12">
              <h6 class="col_yell fw-bold">
                <a class="text-white" href="#">HOME PAGE</a>
                <span class="mx-2 text-muted">/</span> TEAM
              </h6>
              <h1 class="mb-0 font_60 text-white mt-3">Team</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="team" class="p_3 px-4">
      <div class="container-fluid">
        <div class="row">
          {% for member in objDTmembers %}
          <div class="col-md-3 col-sm-6">
            <div class="team_1m text-center">
              <div class="team_1mi position-relative">
                <div class="team_1mi1">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <a href="{% url 'team_detail' member.id %}">
                        <img
                          src="{{ member.image.url }}"
                          alt="{{ member.name }}"
                          class="w-100"
                        />
                      </a>
                    </figure>
                  </div>
                </div>
                <div
                  class="team_1mi2 position-absolute promo_m w-100 h-100 top-0"
                >
                  <ul class="social-network social-circle mb-0">
                    <li>
                      {% if member.facebook %}
                      <a
                        href="{{ member.facebook }}"
                        class="icoFacebook"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="team_1m1 mt-3">
                <h5>
                  <a href="{% url 'team_detail' member.id %}"
                    >{{ member.name }}</a
                  >
                </h5>
                <h6 class="text-muted mb-0">{{ member.role }}</h6>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include 'furniture/Chatsec.html' %} {% include 'furniture/Footer.html' %}
    {% include 'furniture/script.html' %}
  </body>
</html>
